<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%-include('partials/links'); %>

</head>
<body>
    <%-include('partials/header_divisi'); %>

    <main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="py-3 bg-light">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="/">
                <i class="bi bi-house me-1"></i>Beranda
              </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Data PB</li>
            <li class="breadcrumb-item active" aria-current="page">Detail PB</li>
          </ol>
        </nav>
      </div>
    </div>
  </section>
  <!-- End Breadcrumbs -->


                <!-- ======= Login Us Section ======= -->
        <section id="contact" class="contact">
            <div class="container">

                <div class="section-title">
                    <h2>DETAIL DATA MITRA - PB</h2>
                </div>


                <div class="mb-3">
                    <a href="/data/pb_data" class="btn btn-sm btn-success"><i class="fa-solid fa-chevron-left fa-beat-fade"></i> Kembali</a>
                    <a href="/data/update_pb/<%= dataPB.id %>" class="float-end btn btn-sm btn-warning mx-2"><i class="mx-2 fa-solid fa-square-pen fa-beat-fade"></i>Verifikasi Data</a>
                </div>


                <div class="col-lg-12  mx-`auto d-flex">
                    <form role="form" class="php-email-form"> 
                        <h3>Data Mitra</h3>
                        <!-- baris pertama. -->
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="name">Risk Assessment ID</label>
                                <input disabled class="form-control" value="<%= dataPB.risk_assessment_id %>">
                            </div>


                            <div class="form-group col-md-4">
                                <label for="name">Risk Level</label>
                                <input type="text"  class="form-control custom-tooltip" value="<%= dataPB.risk_level %>" disabled>
                            </div>

                            <div class="form-group col-md-4">
                                <!-- Dapatkan tanggal_audit dari server atau sumber data lainnya -->
                                <% const rawDate = dataPB.tanggal_penilaian; %>
            
                                <!-- Konversi tanggal menggunakan JavaScript -->
                                <% const formattedDate = new Date(rawDate).toLocaleDateString('id-ID', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }); %>
            
                                <label for="name">Tanggal Penilaian</label>
                                <input type="text" class="form-control" id="tanggal_audit" value="<%= formattedDate  %>" disabled> 
                            </div>

                        </div>
                        <!-- end baris pertama -->


                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="name">Nomor Kontrak</label>
                                <input type="text" class="form-control" value="<%= dataPB.nomor_kontrak %>"  disabled>
                            </div>
            
                            <div class="form-group col-md-4">
                                <label for="name">Nama Pekerjaan</label>
                                <input type="text" class="form-control" value="<%= dataPB.nama_pekerjaan %>"  disabled>
                            </div>
            
                            <div class="form-group col-md-4">
                                <label for="name">Nama Kontraktor</label>
                                <input type="text" class="form-control" value="<%= dataPB.nama_kontraktor %>" disabled>
                            </div>
                        </div>

                        <hr>
                        <h3 class="mt-3">Kelengkapan Berkas</h3>

                        <% if (dataPB) { %>
                            <h2>Detail HSE Plan</h2>

                            <!-- Tambahkan informasi lainnya yang Anda ingin tampilkan -->
                            <div class="mt-3">
                                <h5>Poin-Poin Utama pada berkas :</h5>
                                <ol>
                                    <li>Kepemimpinan dan Komitmen</li>
                                    <li>Kebijakan HSSE & Strategi</li>
                                    <li>Organisasi, Tanggung Jawab, Sumber Daya,Standar & Dokumentasi</li>
                                        
                                    <li>Manajemen Risiko</li>
                                    <li>Perencanaan & Prosedur</li>
                                    <li>Implementasi & Pemantauan Kinerja</li>
                                    <li>Audit dan Tinjauan</li>
                                    <li>Manajemen K3LL & Pencapaian Lainnya</li>
                                </ol>
                            </div>
                        
                            <!-- Loop untuk menampilkan informasi file -->
                            <% for (let i = 1; i <= 1; i++) { %>
                                <div class="form-group col-lg-6 mt-3">
                                    <label for="file<%= i %>" class="text-capitalize">Berkas - Manajemen Resiko <%= i %></label>
                                    <input type="text" class="form-control" accept=".pdf" name="files" value="<%= dataPB['file' + i] %>" disabled>
                                    <% if (fileURLs[i - 1]) { %>
                                        <a href="<%= fileURLs[i - 1] %>" target="_blank"><i class="fa-solid fa-eye fa-beat-fade mx-1"></i>Lihat Berkas</a>
                                        <a href="<%= fileURLs[i - 1] %>" download target="_blank">|<i class="fa-solid fa-file-arrow-down fa-beat-fade mx-1"></i>Download Berkas</a>
                                    <% } else { %>
                                        <p>Tidak Ada Berkas</p>
                                    <% } %>
                                </div>
                            <% } %>
                        <% } else { %>
                            <p>Data not found</p>
                        <% } %>
        
                        <hr>
                        <h3>Verifikasi Mitra</h3>
                        <div class="row d-flex">
                            <div class="form-group col-lg-6">
                              <label for="" class="form-label">Progres Mitra : </label>
                              <div class="card">
                                <div class="card-body">
                                  <table class="table table-sm table-hover">
                                    <thead class="text-center">
                                      <th>HSE</th>
                                      <th>
                                        <% if (dataPB.fungsi_dituju2 === "ICT") { %>
                                          ICT
                                        <% } else if (dataPB.fungsi_dituju2 === "WIWS") { %>
                                          WIWS
                                        <% } else if (dataPB.fungsi_dituju2 === "PE") { %>
                                          PE
                                        <% } else if (dataPB.fungsi_dituju2 === "RAM") { %>
                                          RAM
                                        <% } else if (dataPB.fungsi_dituju2 === "PRODUKSI") { %>
                                          PRODUKSI
                                        <% } else if (dataPB.fungsi_dituju2 === "SCM") { %>
                                          SCM
                                        <% } else { %>
                                          KOSONG
                                        <% } %>
            
            
                                      </th>
                                    </thead>
            
                                    <tbody class="text-center">
                                        <tr>
                                            <td>
                                                <% if (dataPB.status_mitra === "Belum Diproses") { %>
                                                    <button type="button" class="btn btn-sm btn-status-warm custom-tooltip" data-bs-title="Verifikasi : Diproses" data-bs-toggle="tooltip">
                                                        <i class="fa-solid fa-spinner fa-spin"></i>
                                                    </button>
                                                    
                                                <% }else if (dataPB.status_mitra === "Diterima") { %>
                                                    <button type="button" class="btn btn-sm btn-status-green custom-tooltip" data-bs-title="Verifikasi : Lulus" data-bs-toggle="tooltip">
                                                        <i class="fa-solid fa-check"></i>
                                                    </button>
                                                <% } else if(dataPB.status_mitra === "Ditolak") { %>
                                                    <button type="button" class="btn btn-sm btn-status-red custom-tooltip" data-bs-title="Verifikasi : Tidak Lulus" data-bs-toggle="tooltip">
                                                    <i class="fa-solid fa-x fa-beat-fade"></i>
                                                    </button>
                                                <% } %>
                                            </td>

                                            <td>
                                            <!-- ini utk hse sbg status mitra 2 knp 2, karena baru saja ditambah, -->
                                                <% if (dataPB.status_mitra2 === "Belum Diproses") { %>
                                                    <button type="button" class="btn btn-sm btn-status-warm custom-tooltip" data-bs-title="Verifikasi : Diproses" data-bs-toggle="tooltip">
                                                        <i class="fa-solid fa-spinner fa-spin"></i>
                                                    </button>
                                                
                                                <% }else if (dataPB.status_mitra2 === "Diterima") { %>
                                                    <button type="button" class="btn btn-sm btn-status-green custom-tooltip" data-bs-title="Verifikasi : Lulus" data-bs-toggle="tooltip">
                                                        <i class="fa-solid fa-check"></i>
                                                    </button>
                                                <% } else if(dataPB.status_mitra2 === "Ditolak") { %>
                                                    <button type="button" class="btn btn-sm btn-status-red custom-tooltip" data-bs-title="Verifikasi : Tidak Lulus" data-bs-toggle="tooltip">
                                                    <i class="fa-solid fa-x fa-beat-fade"></i>
                                                    </button>
                                                <% } %>
                                            </td>
            
                                        </tr>
                                    </tbody>
                                  </table>
                                </div>
                            </div>
                            <!-- end card. -->
            
                        </div>
                        
                        <div class="form-group col-md-6 mt-3">
                            <label for="name">Penilaian</label>
                            <input type="number" class="form-control" name="nilai_total" value="<%= dataPB.nilai_total %>" oninput="validateInput(this)" disabled>
                            <div class="form-text">*) Nilai 0-100</div>
                        </div>

                        <div class="form-group col-md-12 mt-3">
                            <label for="name">Keterangan Verifikasi</label>
                            <textarea class="form-control" rows="5" cols="5" name="keterangan_verifikasi" aria-label="With textarea" disabled><%= dataPB.keterangan_verifikasi %></textarea>
                            <div class="form-text">*) Berikan keterangan jika ada</div>
                        </div>
                    </form>
                </div>
 
            </div>
        </section>
    </main>
</body>
</html>